* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  background-color: #E6E6FA;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Header */
header {
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: black;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a.active,
nav a:hover {
  color: black;
}

/* Hero Section */
.hero {
  padding: 60px 0;
  background-color: #E6E6FA;;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero-img img {
  /* max-width: 250px;
  border-radius: 100%; */
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

/* Buttons */
.btn, .btn-outline {
  padding: 12px 24px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn {
  background-color: #800080;
  border: none;
  color: white;
}

.btn:hover {
  background-color: black;
}

.btn a{
  text-decoration: none;
}

.btn-outline {
  border: 2px solid black;
  background-color: transparent;
  color: black;
}

.btn-outline:hover {
  background-color: black;
  color: white;
}

/* About Section */
.about {
  padding: 80px 0;
  background-color: #fff;
}

.about h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #222;
}

.about-content {
  max-width: 700px;
}

/* Responsive */
@media (max-width: 992px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .hero-img img {
    max-width: 150px;
    border-radius: 100%;
  }

  nav ul {
    justify-content: center;
    gap: 15px;
  }
}

@media (max-width: 600px) {
  .hero-text h1 {
    font-size: 28px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .btn, .btn-outline {
    width: 100%;
    margin-bottom: 10px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
