* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #E6E6FA;
  color: #333;
  line-height: 1.6;
}

.about-section {
  padding: 50px 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
}

.image-box img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-top: 50px;
}

.content-box {
  flex: 1;
  min-width: 300px;
}

.read-link a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}

.content-box h1 {
  font-size: 2.2rem;
  margin: 10px 0;
}

.description {
  margin-bottom: 30px;
  color: #555;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.skill-box h4 {
  margin-bottom: 5px;
  font-weight: 600;
  color: #800080;
  text-decoration: underline;
  font-style: italic;
}

.skill-box p {
  font-size: 0.95rem;
  color: #666;
}

.about-text{
  color: #800080;
  font-weight: bold;
}

header {
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: black;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a.active,
nav a:hover {
  color: black;
}
